<app-dropdown [items]="cities" (select)="onItemSelected($event)"></app-dropdown>
<div class="container-fluid">
  <div class="row panel">
    <div class="viewport col-md-6 col-sm-6 col-xs-6">
        <h3>Listing</h3>
        <a href="#" (click)="displayReview(item)" *ngFor="let item of rbnbItems">
          <app-airbnb-card [file]="item.listing?.picture_url"
                           [dispValue1]="item.listing?.name"
                           [dispValue2]="item.listing?.public_address"
                           [isSelected]="isSelected(item)"
                           [enableHover]="true"></app-airbnb-card>
        </a>
    </div>
    <div class="viewport col-md-6 col-sm-6 col-xs-6">
      <h3>Reviews</h3>
      <div *ngFor="let review of rbnbReviews?.reviews">
        <app-airbnb-card [file]="review.author?.picture_url"
          [dispValue1]="review.created_at|date"
          [dispValue2]="review.comments"></app-airbnb-card>
      </div>
    </div>
  </div>
</div>
