<div class="row form-group" [class.enable-hover]="enableHover" [class.active]="isSelected">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <div class="listing-pic">
      <img *ngIf="file" [src]="file"
           class="img-circle"/>
    </div>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="row form-group">
      <div class="col-md-12 col-sm-12 col-xs-12 email">
        {{dispValue1}}
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12 col-sm-12 col-xs-12">
        {{dispValue2}}
      </div>
    </div>
  </div>
</div>
